/*offers  start*/
.offers {
  .section-title {
    text-align: center;
    h3 {
      color: var(--main-color);
    }
    p {
      color: #555;
    }
  }
  .offers-content {
    margin-top: 40px;

    .persons-offers {
      margin-bottom: 30px;

      .discount {
        background-color: var(--third-color);
        color: white;
        border-top: 3px solid var(--forth-color);
        border-radius: 5px;
        font-size: 14px;
        padding: 5px 8px;
        position: relative;
        top: 15%;
        z-index: 100;
      }
      .offer-card {
        border-radius: 10px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        min-height: 100px;
        box-shadow: 0 2px 4px 0 rgba(1, 129, 138, 0.2),
          0 3px 10px 0 rgba(1, 129, 138, 0.19);

        p {
          color: var(--secondary-color);
          margin-bottom: 0px !important;
        }
        span {
          svg {
            color: var(--secondary-color);
          }
        }
      }
    }
    .amounts-offers {
      .card {
        background-color: var(--main-color);
        text-align: center;
        color: white;
        .discount {
          width: 40%;
          background-color: green;
          position: relative;
          top: -50px;
          z-index: 999;
        }
        img {
          max-width: 80%;
          max-height: 280px;
        }
        .order-now-btn {
          background-color: white;
          color: var(--main-color);
          border-radius: 25px;
          width: fit-content;
          display: block;
          margin: auto;
          padding: 5px 30px;
          border: 1px solid var(--main-color);
        }
      }
    }
  }
}
