/*inductions start*/
.usage-inductions {
  .title {
    text-align: center;
    background-color: var(--main-color);
    color: white;
    padding: 15px;
    border-radius: 12px;
    font-size: 24px;
    margin-bottom: 40px;
  }
  .induction-item {
    margin: auto;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 15px 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    margin-bottom: 20px;
    &:hover img {
      transform: scale(1.2);
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }
    img {
      width: 70px;
      height: 70px;
      background-color: var(--main-color);
      padding: 10px;
      border-radius: 50%;
      transition: 0.3s;
    }
    p {
      color: #333;
      font-size: 18px;
    }
  }
}

/*induction End*/
